<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("background-3.jpg") %>
      <div class="carousel-caption">
        <h3><%= t "slogan" %></h3>
        <p><%= t "banner_description" %></p>
      </div>
    </div>
  </div>
</div>
<div class="bg-1">
  <div class="container">
    <h3 class="text-center"><%= t "background_1_title" %></h3>
    <p class="text-center"><%= t "background_1_quotes" %><br>
    <%= t "background_1_quotes_author" %></p>
    <div class="row text-center">
      <div class="col-sm-4">
        <h4 class="text-center"><strong><%= t "english" %></strong></h4><br>
        <a href="#" data-toggle="collapse">
          <%= image_tag("english.jpg", class: "img-circle person") %>
        </a>
      </div>
      <div class="col-sm-4">
        <h4 class="text-center"><strong><%= t "japan" %></strong></h4><br>
        <a href="#demo2" data-toggle="collapse">
          <%= image_tag("japanese.jpg", class: "img-circle person") %>
        </a>
      </div>
      <div class="col-sm-4">
        <h4 class="text-center"><strong><%= t "french" %></strong></h4><br>
        <a href="#demo3" data-toggle="collapse">
          <%= image_tag("french.jpg", class: "img-circle person") %>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="text-center bg-2">
  <div class="container">
    <h3><%= t "background_2_title" %></h3>
    <p><%= t "background_2_quotes" %></p>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag("course-1.png") %>
          <p><strong><%= t "course_name" %></strong></p>
          <p><%= t "course_date_published" %></p>
          <button id="navbar-btn" class="btn"><%= t "button_learn" %></button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag("course-1.png") %>
          <p><strong><%= t "course_name" %></strong></p>
          <p><%= t "course_date_published" %></p>
          <button class="btn"><%= t "button_learn" %></button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag("course-1.png") %>
          <p><strong><%= t "course_name" %></strong></p>
          <p><%= t "course_date_published" %></p>
          <button class="btn"><%= t "button_learn" %></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag("course-2.png") %>
          <p><strong><%= t "course_name" %></strong></p>
          <p><%= t "course_date_published" %></p>
          <button class="btn"><%= t "button_learn" %></button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag("course-2.png") %>
          <p><strong><%= t "course_name" %></strong></p>
          <p><%= t "course_date_published" %></p>
          <button class="btn"><%= t "button_learn" %></button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <%= image_tag("course-2.png") %>
          <p><strong><%= t "course_name" %></strong></p>
          <p><%= t "course_date_published" %></p>
          <button class="btn"><%= t "button_learn" %></button>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <strong><a class="text-left" href=""><%= t "e_learning" %></a></strong>
      </div>
      <div class="col-sm-2">
        <strong><a class="text-left" href=""><%= t "footer_help" %></a></strong>
        <ul class="list-unstyled">
          <li><a href="#"><%= t "footer_log_in" %></a></li>
          <li><a href="#"><%= t "footer_help_center" %></a></li>
          <li><a href="#"><%= t "footer_mobile" %></a></li>
          <li><a href="#"><%= t "footer_students" %></a></li>
          <li><a href="#"><%= t "footer_teacher" %></a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <strong><a class="text-left" href=""><%= t "footer_about" %></a></strong>
        <ul class="list-unstyled">
          <li><a href="#"><%= t "footer_log_in" %></a></li>
          <li><a href="#"><%= t "footer_help_center" %></a></li>
          <li><a href="#"><%= t "footer_mobile" %></a></li>
          <li><a href="#"><%= t "footer_students" %></a></li>
          <li><a href="#"><%= t "footer_teacher" %></a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <strong><a class="text-left" href=""><%= t "footer_follow" %></a></strong>
        <ul class="list-unstyled">
          <li><a href="#"><%= t "footer_log_in" %></a></li>
          <li><a href="#"><%= t "footer_help_center" %></a></li>
          <li><a href="#"><%= t "footer_mobile" %></a></li>
          <li><a href="#"><%= t "footer_students" %></a></li>
          <li><a href="#"><%= t "footer_teacher" %></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
