<% provide :title, t("word_show_title") %>
<div id="wrapper" >
  <%= render "layouts/menu.html.erb" %>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1><%= t "word_show_info" %></h1>
          <div class="w3-container">
            <ul class="w3-ul w3-card-4">
              <div class="col-md-12 content-paper">
                <h2><%= t "word_show_content" %><%= @word.name %></h2>
                <p><%= @word.content %></p>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
