<div id="wrapper" >
  <%= render "layouts/menu.html.erb" %>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="search-form">
            <%= render "search_form" %>
          </div>
          <% @categories.each do |category| %>
            <div class="col-sm-4">
              <div class="thumbnail">
                <%= image_tag category.category_img.url(:category_index),
                  class: "category_img_index" %>
                <h4 class="text-center"><%= category.name %></h4>
                <div class="button_inline">
                  <%= link_to t("view"), admin_category_path(category),
                    class: "btn-flip btn btn-3d btn-primary" %>
                  <%= link_to t("edit"), edit_admin_category_path(category),
                    class: "btn-flip btn btn-3d btn-success" %>
                  <%= link_to t("delete"), admin_category_path(category),
                    class: "btn-flip btn btn-3d btn-danger", method: :delete,
                    data: {confirm: t("delete_message")} %>
                </div>
              </div>
            </div>
          <% end %>
          <%= will_paginate @categories %>
        </div>
      </div>
    </div>
  </div>
  <%= link_to t("category_add"), new_admin_category_path %>
</div>
